* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.container {
  margin-top: 3rem;
}

.card {
  padding: 3rem;
  background-image: url(./images/bg-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 40%, 49%);
  border-radius: 20px;
  box-shadow: 1px 1px 10px rgb(82, 72, 72);
}
.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-items: center;
}
.card-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.card-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  opacity: 0.9;
}
#logo {
  width: 10rem;
  position: absolute;
  top: -100px;
}
.right button {
  background-color: hsl(300, 69%, 71%);
  padding: 1rem 4rem;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  text-align: center;
}
button:hover {
  box-shadow: 1px 1px 10px rgb(82, 72, 72);
  cursor: pointer;
}
#links {
  font-size: 2rem;

  position: absolute;
  right: 4rem;
  bottom: 2rem;

  display: flex;
}
a {
  padding: 0.5rem 1rem;

  justify-content: center;
}
a:hover {
  box-shadow: 1px 1px 10px white;
  border-radius: 100px;
}
